<!-- =========================================================
     FOOTER
========================================================= -->


<footer class="site-footer">

  <div class="footer-main">

    <div class="footer-logo">
      HAREIRU
    </div>


    <div class="footer-sns">

      <a
        href="https://x.com/hareiru_"
        target="_blank"
        rel="noopener noreferrer"
      >
        X
      </a>

      <a
        href="https://www.youtube.com/@%E3%81%AF%E3%82%8C%E3%81%84%E3%82%8B"
        target="_blank"
        rel="noopener noreferrer"
      >
        YOUTUBE
      </a>

      <a
        href="https://www.tiktok.com/@hareiru_?_r=1&_t=ZS-92EnxzwdbpI"
        target="_blank"
        rel="noopener noreferrer"
      >
        TikTok
      </a>

      <a
        href="https://note.com/hareiru_"
        target="_blank"
        rel="noopener noreferrer"
      >
        NOTE
      </a>

    </div>

  </div>


  <small>
    © HAREIRU
  </small>

</footer>