<!-- =========================================================
     HEADER
========================================================= -->

<header class="site-header">

  <a
    href="index.html"
    class="logo"
  >

    <span class="logo-mark">
      H
    </span>

    <span class="logo-text">
      HAREIRU
    </span>

  </a>


  <nav class="global-nav">

    <a href="index.html">
      HOME
    </a>

    <a href="game.html">
      GAME
    </a>

    <a href="animation.html">
      ANIMATION
    </a>

    <a href="illustration.html">
      ILLUSTRATION
    </a>

    <a href="character.html">
      CHARACTER
    </a>

    <a href="about.html">
      ABOUT
    </a>

    <a href="commission.html">
      COMMISSION
    </a>

  </nav>

</header>
